@media screen and (min-width: 992px) and (max-width: 1199px) {

.top{
	background-image: url("../images/top_img3_ipad.jpg");
}

.about_pic{
	text-align: right;
}

.about_pic img{
	width: 95%;
	height: 95%;
}
.font-l-title{
	font-size: 30pt;
	color: white;
	padding: 0px 0px 0px 0px;
}

.font-s-title{
	font-size: 10pt;
	color: white;
	padding: 0px 0px 0px 0px;
}

.font-m-title{
	font-size: 12pt;
	color: white;
	line-height: 18pt;	
	padding: 0px 0px 0px 0px;
}

}