@media screen and (min-width: 768px) and (max-width: 991px) {

.top{
	background-image: url("../images/top_img3_ipad.jpg");
}

.menu-full{
	width: 100%;
}

.menu-btn{
	display:inline-block;
	padding-left: 12px;
	padding-right: 12px;
	text-align:center;
	color: rgba(255,255,255,0.7);
}

.menu-icon-box{
	width: 220px;
}

.font-m-title{
	font-size: 12pt;
	color: white;
	line-height: 18pt;	
	padding: 0px 0px 0px 0px;
}

}