@import url('https://fonts.googleapis.com/css?family=Aldrich|Titillium+Web&display=swap');
body{
    overflow: hidden;
    background: #111;
    margin: 0;
    padding: 0;
    font-family: 'Aldrich','Arial', 'cwTeXHei', 'Microsoft JhengHei';
}
.ui-loader{
    display: none;
}

.pagecover{
    display: none;
}

.year-title{
    font-size: 30px;
}

.owlSelectYear .year-div{
    padding: 50px 10px;
    min-height: 165px;
    background: rgba(0,0,0,1);
    color: rgb(51,51,51);
    /* border-radius: 3px; */
    cursor: pointer;
    transition: .3s all;

    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
}

/* .owlSelectYear .year-div:hover{
    background: rgba(43,43,43,1);
    color: #fff;
} */

.owlSelectYear .center .year-div{
    background: rgba(43,43,43,1);
    color: #fff;
}


/*透過css的media去做判斷是否橫擺*/
@media screen and  (orientation:landscape) and (max-width: 812px ){
    .pagecover{
        position: absolute;
        z-index: 100;
        top: 0;
        left: 0;
        background: #333;
        color: #fff;
        text-align: center;
        display: block;
        width: 100%;
    }
}

input{
    background-color: rgba(0,0,0,0.7) !important;
    border-color: rgba(0,0,0,0) !important;
    padding-left: 40px !important;
    height: 50px !important;
    color: #fff !important
}

::-webkit-input-placeholder { 
    color: #fff !important;  
    transition: 0.3s all;
}
input::-moz-placeholder { 
    color: #fff !important;  
    transition: 0.3s all;
}
input::-moz-placeholder{
    color: #fff !important;  
    transition: 0.3s all;
}
:-ms-input-placeholder{
    color: #fff !important; 
    transition: 0.3s all;
}


:focus::-webkit-input-placeholder { 
    color: #999 !important; 
}
input:focus::-moz-placeholder { 
    color: #999 !important; 
}
input:focus::-moz-placeholder{
    color: #999 !important; 
}
:focus:-ms-input-placeholder{
    color: #999 !important; 
}

.select-div{
    position: relative;
    width: 100%;
    font-family: 'Titillium Web', 'Microsoft JhengHei',sans-serif;
    background-color: rgb(58,58,58);
    border-color: rgb(58,58,58);
    padding-left: 10px;
    height: 50px;
    line-height: 50px;
    color: #fff ;
    border-radius: 0;
}

.window_div{
    position: relative;
    margin: 0 auto;
    width: 100%;
    max-width: 414px;
    height: auto;
    overflow: hidden;
}

.fullpage{
    position: absolute;
    z-index: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgb(63,63,63);

    -webkit-transition: .3s all;
    -moz-transition: .3s all;
    -o-transition: .3s all;
    transition: .3s all;

    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
}

.nav-bar{
    position: relative;
    width: 100%;
    height: 50px;
    background: rgb(32,32,32);
    line-height: 50px;
    color: #fff;
}
.nav-bar>.left-div{
    position: relative;
    float: left;
    height: 50px;
    width: auto;
    line-height: 50px;
    padding: 0 15px;
    cursor: pointer;
}
.nav-bar>.right-div{
    position: relative;
    float: right;
    height: 50px;
    width: auto;
    line-height: 50px;
    padding: 0 15px;
    cursor: pointer;
}

.nav-title{
    position: absolute;
    z-index: 0;
    width: 50%;
    height: 100%;
    left: 25%;
    top: 0;
    line-height: 50px;
    text-align: center;
}

.footer-nav{
    position: relative;
    width: 100%;
    height: 50px;
    background: #f00;
    line-height: 50px;
    color: #000;
    border-top: 1px solid #ccc;
}

.content-div{
    position: relative;
    width: 100%;
    color:#fff;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
}


.box{
    position: relative;
    float: left;
    width: 100%;
    height: 632px;
    text-align: center;
    color: #000;
}

.logo-box{
    /* background-image: url(../intro-191031-zip.gif); */
    background-size: cover;
    background-position: center center;
    font-size: 60px;
    line-height: auto;
}
.login-box{
    background-image: url(../images/BG/bg-01.jpg);
    background-size: cover;
    background-position: center center;
    color: #fff;
    transition: 0.5s;
}
.btn-div{
    position: relative;
    width: 100%;
}
.btn-div .icon{
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    height: 50px;
    width: 50px;
    line-height: 50px;
    text-align: center;
}

.selecticon{
    position: absolute;
    z-index: 1;
    bottom: 15px;
    right: 10px;
    height: 50px;
    width: 50px;
    line-height: 50px;
    text-align: center;
    transform: rotate(180deg);
}

.choose-box{
    background-image: url(../images/BG/bg-digital-world.jpg);
    background-size: cover;
    background-position: center center;
    color: #fff;
    transition: 0.5s;
    overflow-x: hidden;
    overflow-y: auto;
}

.choose-box .btn{
    width: 70%;
    padding-top: 15px;
    padding-bottom: 15px;
}

.main-box{
    background: #000;
    color: #fff;
}
.digital2019box{
    position: absolute;
    z-index: 9;
    top: 100%;
    right: 200%;
    width: 100%;
    text-align: center;
    background: rgb(33,33,33);
    color: #fff;
    -webkit-transition: .3s all;
    -moz-transition: .3s all;
    -o-transition: .3s all;
    transition: .3s all;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);

    overflow-x: hidden;
    overflow-y: auto;
}

.backBtn{
    position: absolute;
    left: 0;
    top: 0;
    width: 50px;
    width: 50px;
    background: #000;
    color: #fff;
    line-height: 50px;
    text-align: center;
    cursor: pointer;
}

.digital2019list{
    position: relative;
    width: 100%;
    height: auto;
    padding: 10px;
}
.owlSystem a{
    text-decoration: none;
}
.owlSystem .img{
    position: relative;
    height: 300px;
    width: 100%;
    overflow: hidden;
    background: #000;
    /* background-size: 100% auto;
    background-repeat: no-repeat; */
    background-size: cover;
    background-position: center center;
}
.owlSystem .img .title{
    position: relative;
    min-height: 40px;
    width: 100%;
    background: rgba(128,128,128,.6);
    color: #fff;
    /* font-size: 24px; */
    line-height: 40px;
    text-align: center;
}

.owlSystem .center .img .title{
    background: rgba(128,128,128,1);
    color: #fff;
}


.menu-box{
    position: absolute;
    z-index: 9;
    top: 0;
    right: 100%;
    width: 100%;
    text-align: center;
    background: rgb(33,33,33);
    color: #fff;
    -webkit-transition: .3s all;
    -moz-transition: .3s all;
    -o-transition: .3s all;
    transition: .3s all;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
}

.menu-box .menu-btn{
    position: relative;
    display: inline-block;
    cursor: pointer;
    width: 100%;
    height: 50px;
    transition: 0.3s all;
    line-height: 50px;
    text-align: center;
    border-top: 1px solid rgb(57,57,57) !important;
}

.menu-box .menu-btn:nth-last-child(1){
    border-bottom: 1px solid rgb(57,57,57);
}

.menu-box .menu-btn:hover{
    background: #000000;
}
.menu-box .active{
    background: #000000;
}

.contentPage-1,
.contentPage-2,
.contentPage-3{
    position: absolute;
    top: 0;
    left: 100%;
    width: 100%;
    text-align: center;
    color: #fff;
    -webkit-transition: .3s all;
    -moz-transition: .3s all;
    -o-transition: .3s all;
    transition: .3s all;


    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
}
.contentPage-1{
    z-index: 2;
    background: #000;
}
.contentPage-2{
    z-index: 3;
    background: #000;
}

.contentPage-3{
    z-index: 4;
    background: #000;
}

.col-12{
    padding: 0 10px 10px 10px;
}
.col-6{
    padding: 0 5px 10px 5px;
}

.row .col-6:nth-child(1){
    padding: 0 5px 10px 10px;
}

.row .col-6:nth-last-child(1){
    padding: 0 10px 10px 5px;
}

.col-12>.content,
.col-6>.content{
    min-height: 100px;
    background: #fff;
    text-align: left;
    border-radius: 5px;
    padding: 4px 6px;
}

.col-12>.content>.title,
.col-6>.content>.title{
    border-bottom: 1px solid #ccc;
    font-size: 14px;
}


.btn-orange{
    background: #ff6400;
    color: #fff;
}

.btn-orange:focus,
.btn-orange:hover{
    background: #ff5400;
    color: #fff;
}

.bread-ul{
    position: relative;
    width: 100%;
    padding: 10px 15px;
}
.info-card{
    position: relative;
    display: inline-block;
    padding: 15px;
    width: 100%;
    height: auto;
    min-height: 200px;
}
.info-card div{
    position: relative;
    display: inline-block;
    width: calc(50% - 3px);
    margin-bottom: 4px;
    background: #666;
    font-family: 'Titillium Web', 'Microsoft JhengHei', sans-serif;
}

.info-card div:nth-child(1){
    background: #FF6400;
}
.info-card div:nth-child(2){
    background: #0090D0;
}
.info-card div:nth-child(3){
    background: #24AD6E;
}
.info-card div:nth-child(4){
    background: #963ED6;
}
.info-card div>span:nth-child(1),
.info-card div>span:nth-child(3){
    position: relative;
    display: block;
    width: 100%;
    padding: 10px;
}
.info-card div>span:nth-child(2){
    position: relative;
    display: block;
    background: rgba(255,255,255,0.2);
    height: 2px;
    width: 100%;
    padding: 0;
}

.info-card div>span:nth-child(3)>span:nth-child(1){
    /* font-size: 14px; */
}
.info-card div>span:nth-child(3)>span:nth-child(2){

    width: 100%;
    text-align: right;
    font-size: 10px;
    padding-top: 5px;
}

@media (max-width:320px){
    .info-card{
        padding: 10px;
    }
    .info-card div>span:nth-child(1),
    .info-card div>span:nth-child(3){
        padding: 4px;
    }
    .info-card div>span:nth-child(3)>span:nth-child(1){
        /* font-size: 16px; */
    }
    .info-card div>span:nth-child(3)>span:nth-child(2){
        width: 100%;
        font-size: 14px;
        padding-top: 5px;
        text-align: right;
    }
}

.fun-title{
    position: relative;
    width: 100%;
    height: auto;
    color: #fff;
    padding: 15px
}

.fun-title::before{
    content: "";
    position: absolute;
    z-index: 1;
    width: 50px;
    height: 2px;
    background: rgb(78,78,78);
    bottom: 12px;
    left: calc(50% - 25px);
}

.top-btn{
    /* position: relative; */
    display: none;
    position: absolute;
    bottom:0;
    left: 0;
    width: 100%;
    font-size: 8px;
    background: #000;
    padding: 6px 0;
    cursor: pointer;
}

.windows-div-cover{
    display: none;
    position: absolute;
    z-index: 9;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.7);
}
.windows-div{
    position: relative;
    margin: 0 auto;
    margin-top: 80px;
    width: calc(100% - 40px);
    min-height: 100px;
    background: rgb(58,58,58);
    color: #ccc;
    padding: 15px;
}
.windows-div .fun-title{
    font-size: 18px;
}
.windows-div p{
    font-size: 16px;
}

.close-window-btn{
    position: absolute;
    right: 0;
    top: 0;
    width: 46px;
    height: 46px;
    text-align: center;
    line-height: 46px;
    cursor: pointer;
    z-index: 1;
}

.notice-btn span{
    position: absolute;
    right: 0px;
    top:15px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #f00;
}

::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }
  ::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
  }
  ::-webkit-scrollbar-thumb {
    background: #e1e1e1;
    border: 0px none #ffffff;
    border-radius: 50px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #ffffff;
  }
  ::-webkit-scrollbar-thumb:active {
    background: #d2d2d2;
  }
  ::-webkit-scrollbar-track {
    background: #666666;
    border: 0px none #ffffff;
    border-radius: 50px;
  }
  ::-webkit-scrollbar-track:hover {
    background: #666666;
  }
  ::-webkit-scrollbar-track:active {
    background: #666666;
  }
  ::-webkit-scrollbar-corner {
    background: transparent;
  }
.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #999;
    font-size: 14px;
    color: #ccc;
    border-top: 0px solid #999;
}

.table td{
    border-top: 1px solid #666;
    font-size: 14px;
    color: #ccc;
    font-family: 'Titillium Web','Microsoft JhengHei', sans-serif;
}
.customer-list .title,
.customer-list2 .title{
    position: relative;
    width: 100%;
    height: 46px;
    line-height: 46px;
    padding: 0 10px;
    background: linear-gradient(0deg,rgb(56,56,56),rgb(93,93,93));
    text-align: left;
    cursor: pointer;
}


.customer-list .active{
    background: rgb(123,123,123);
    color: rgb(43,43,43);
}

.customer-list .table-responsive{
    padding: 10px 10px 0 10px;
}

.tab-div{
    position: relative;
    float: left;
    width: 100%;
    height: 46px;
}

.tabBtn{
    position: relative;
    float: left;
    width: 50%;
    height: 46px;
    line-height: 46px;
    text-align: center;
    background: rgb(53,53,53);
    color: rgb(148,148,148);
    border-bottom: 4px solid rgb(53,53,53);
    cursor: pointer;
}

.tab-div>.active{
    background:#ff6400;
    color: #fff;
    border-bottom: 4px solid #fff;
}

.ui-selectmenu-button-text{
    display: none;
}


.video-box{
    position: relative;
    float: left;
    width: 100%;
    height: auto;
    padding: 15px 15px 60px 15px;
}

.video-div{
    position: relative;
    float: left;
    width: calc(50% - 15px/2);
    margin-right: 15px;
    height: auto;
    min-height: 120px;
    background-image: url(../images/km-1.jpg);
    background-position: center center;
    background-size: cover;
    margin-bottom: 15px;
    border: 1px solid #000;
}
.video-div:nth-child(1){
    width: 100%;
    height: 220px;
    margin-right: 0px;
}
.video-div:nth-child(2n-1){
    margin-right: 0px;
}
.video-div .cover{
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: linear-gradient(0deg,rgba(0,0,0,0.4), rgba(0,0,0,0.2));
}
.video-div .cover img{
    position: absolute;
    z-index: 2;
    width: 40px;
    left: calc(50% - 20px);
    top: calc(50% - 20px);
    cursor: pointer;
}
.video-div:nth-child(1) .cover img{
    position: absolute;
    z-index: 2;
    width: 60px;
    left: calc(50% - 30px);
    top: calc(50% - 30px);
}
.video-div .cover .title{
    position: absolute;
    z-index: 3;
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #fff;
    font-size: 12px;
    font-family: 'Titillium Web', 'Microsoft JhengHei',sans-serif;
    left: 0;
   bottom:0;
}
.owl-dot{
    border-radius: 1px;
    margin-right: 5px;
    width: 20px;
    height: 2px;
    background: #666 !important;
}
.owl-dot:nth-last-child(1){
    margin-right: 0px;
}
.owl-dots .active{
    background: #ccc !important;
}
