
:root{
  --color-black: #000;
  --color-gamebg: #50a7e8;
}

html,body{
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  height: 100vh;
  background: var(--color-black);
}

body>canvas{
  align-self: center;
  border-radius: 20px;
}