body
{
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: #131313;
}

.game-div{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}

.game-box{
    position: relative;
    margin: 0 auto;
    margin-top: calc(50vh - 100px);
    width: 200px;
    height: 200px;
    cursor: pointer;
}

.game-box .box{
    z-index: 0;
    position: absolute;
    top: 0px;
    left: -20px;
    transform: rotate(-10deg);
}

.game-box .box-case{
    z-index: 1;
    position: absolute;
    transform: translate3d(-10px,-220px,0) rotate(39deg);
}

.game-box .box span{
    position: absolute;
    background: rgb(228, 167, 0);
    width: 50px;
    height: 100%;
    left: calc(50% - 25px);
}

.card{
    position: absolute;
    z-index: 10;
    left: calc(50% - 200px);
    top:  calc(50% - 300px);
    transform: scale(0);
}

.card>#game-message{
    position: absolute;
    background: #fff;
    padding: 15px;
    border-radius: 15px;
    white-space:nowrap;
    font-size: 24px;
    left: 70%;
    top: 0px;
}


.card>#game-message::before{
    position: absolute;
    content: "";
    z-index: -1;
    border-top: 15px solid rgba(0,0,0,0);
    border-left: 15px solid rgba(0,0,0,0);
    border-bottom: 15px solid rgba(0,0,0,0);
    border-left: 15px solid #fff;
    bottom: -15px;
}

.card>#game-point{
    position: absolute;
    font-size: 24px;
    font-weight: 700;
    left: 45%;
    transform: translateX(-50%);
    bottom: 120px;
}

.card.active{
    transform: scale(1);
}

.game-box .somepaper{
    position: absolute;
    z-index: 3;
    left: 50%;
    top: 50%;
    width: 0;
    top: 0;
}

.game-box .somepaper>img{
    position: absolute;
    left: -100px;
    top: -50px;
    opacity: 0;
}
.game-box .somepaper>img:nth-child(1){
    transform: scale(0.1) rotate(180deg);
}
.game-box .somepaper>img:nth-child(2){
    transform: scale(0.1) rotate(-180deg);
}
.game-box .somepaper>img:nth-child(3){
    transform: scale(0.1) rotate(180deg);
}

.game-box .somepaper.active>img{
    transition: 1s ease-out;
}
.game-box .somepaper.active>img:nth-child(1){
    transform:  translate3d(230px,180px,0) scale(1) rotate(0);
    opacity: 1;
} 

.game-box .somepaper.active>img:nth-child(2){
    transform:  translate3d(360px,-120px,0) scale(1) rotate(0);
    opacity: 1;
} 

.game-box .somepaper.active>img:nth-child(3){
    transform:  translate3d(-320px,-120px,0) scale(1) rotate(0);
    opacity: 1;
} 



.cover{
    position: absolute;
    z-index: 2;
    opacity: 1;
    left: 50%;
    top: 50%;
    transform: translate3d(-50%,-50%,0) scale(0) rotate(0);
    
    /* background: #c00; */
}

.cover.show{
	animation: covershow 0.6s ease-out;
    opacity: 1;
}

.cover.active{
    transform: scale(1);
    opacity: 1;
	animation: coverrotate 10s linear infinite;
}



.shake{
	animation: shakebox .4s linear infinite;
}

.openbox{
    animation: caseopen 0.6s ease-out;
}

.opencard{
    animation: opencard 0.6s ease-out;
}

.game-box .box-case.active{
    transform: translate3d(-100px,-360px,0) rotate(0deg);
}

#restart-btn{
    position: fixed;
    z-index: 99;
    width: 180px;
    height: 40px;
    top: 80vh;
    left: calc(50% - 90px);
    background: #ff6400;
    color: #000;
    text-align: center;
    line-height: 40px;
    opacity: 0;
    transition: 0.3s;
    cursor: pointer;
}
#restart-btn.active{
    opacity: 1;
}

@keyframes shakebox{
	0% {
	    transform: translateZ(0);
	}
	5% {
	    transform: translate3d(5px,5px,0);
	}
	15% {
	    transform: translate3d(-5px,-5px,0);
	}
	25% {
	    transform: translate3d(5px,5px,0);
	}
	45% {
	    transform: translate3d(-5px,-5px,0);
	}
	55% {
	    transform: translate3d(5px,-5px,0);
	}
	65% {
	    transform: translate3d(-5px,-5px,0);
	}
	80% {
	    transform: translate3d(5px,5px,0);
	}
	100% {
	    transform: translate3d(-5px,-5px,0);
	}
}

@keyframes caseopen{
	0% {
	    transform: translate3d(0);
	}
	100% {
        transform: translate3d(-100px,-360px,0) rotate(0deg);
	}
}


@keyframes opencard{
	0% {
	    transform: scale(0);
	}
	100% {
	    transform: scale(1)
	}
}

@keyframes covershow {
    0%{
        transform: translate3d(-50%,-50%,0) scale(0) rotate(0deg);
    }
    100%{
        transform: translate3d(-50%,-50%,0) scale(2) rotate(60deg);
    }
}

@keyframes coverrotate {
    0%{
        transform: translate3d(-50%,-50%,0) scale(2) rotate(60deg);
    }
    100%{
        transform: translate3d(-50%,-50%,0) scale(2) rotate(360deg);
    }
}