
/* @import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Tektur&display=swap');


:root {
    --meter-color-1: #ff0000;
    --meter-color-2: #ff8000;
    --meter-color-3: #ffd000;
    --meter-color-4: #00b900;
    --meter-color-5: #0000d6;
    --meter-color-6: #6900d3;
    --meter-color-7: #ff00ff;
}


html, body{
    margin: 0;
    padding: 0;
    background-color: #222;
    color: #ccc;
}

* {
    box-sizing: border-box;
}

p {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #ccc;
}

a:hover {
    color: #fff;
}

h1 {
    font-size: 2rem;
    margin: 0;
    padding: 0;
}

h2 {
    font-size: 1.5rem;
    margin: 0;
    padding: 0;
}

h3 {
    font-size: 1.2rem;
    margin: 0;
    padding: 0;
}

h4 {
    font-size: 1rem;
    margin: 0;
    padding: 0;
}

h5 {
    font-size: 0.8rem;
    margin: 0;
    padding: 0;
}

h6 {
    font-size: 0.6rem;
    margin: 0;
    padding: 0;
}
