h1 {font-size: 50px;line-height: 55px}/*最上方主圖標題*/
h2 {font-size: 33px;line-height: 35px}
h3 {font-size: 25px;line-height: 30px}

.page-title{
    font-size: 40px;
}


.web-img-title::before{
    background: #000;
    opacity: 1;
	width: 100%;
    height: 120%;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 50px, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 50px, 0 100%);
}

.web-img-title::after{
	position: absolute;
	z-index:-1;
	left: 0;
	top: 0;
	content: "";
	background-image: url(../../images/aoruspoints/PointsAndRewards-top-img-1.jpg);
	width: 100%;
	height: 120%;
	background-position: top center;
	background-size: cover;
	opacity: 1;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% calc(100% - 50px), 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 50px), 0 100%);
}

.bg-rewards{
	padding-top: 60px; 
	padding-bottom: 60px;
}

.bg-rewards::before{
	position: absolute;
	z-index:-1;
	left: 0;
	top: -12%;
	content: "";
	background:#000;
	width: 100%;
    height: 120%;
    -webkit-clip-path: polygon(0 0, 100% 50px, 100% calc(100% - 50px), 0% 100%);
    clip-path: polygon(0 0, 100% 50px, 100% calc(100% - 50px), 0% 100%);
}

.bg-rewards::after{
	position: absolute;
	z-index:-1;
	left: 0;
	top: -12%;
	content: "";
	background-image: url(../../images/aoruspoints/PointsAndRewards-bg.jpg);
	width: 100%;
	height: 120%;
	background-position: center center;
	background-size: cover;
	opacity: 0.4;
    -webkit-clip-path: polygon(0 0, 100% 50px, 100% calc(100% - 50px), 0% 100%);
    clip-path: polygon(0 0, 100% 50px, 100% calc(100% - 50px), 0% 100%);
}

.bg-calculation{
	padding-top: 60px; 
	padding-bottom: 200px;
}

.bg-calculation::before{
	position: absolute;
	z-index:-1;
	left: 0;
	top: -60px;
	content: "";
	background:#000;
	width: 100%;
    height: 100%;
    -webkit-clip-path: polygon(0 50px, 100% 0, 100% calc(100% - 50px), 0% 100%);
    clip-path: polygon(0 50px, 100% 0, 100% calc(100% - 50px), 0% 100%);
}

.bg-calculation::after{
	position: absolute;
	z-index:-1;
	left: 0;
	top: -60px;
	content: "";
	background-image: url(../../images/aoruspoints/PointsAndRewards-bg.jpg);
	width: 100%;
	height: 100%;
	background-position: center center;
	background-size: cover;
	opacity: 0.4;
    -webkit-clip-path: polygon(0 50px, 100% 0, 100% calc(100% - 50px), 0% 100%);
    clip-path: polygon(0 50px, 100% 0, 100% calc(100% - 50px), 0% 100%);
}


.box-5{
	position: relative;
	float: left;
	width: 20%;
	min-height: 200px;
	padding: 15px;
}
.customNextBtn,.customPrevBtn{
	position: absolute;
	z-index: 1;
	width: 45px;
	height: 70px;
	text-align: center;
	line-height: 65px;
	background: rgba(255,255,255,0.1);
	top: 45%;
	font-size: 35px;
	cursor: pointer;
}

.customNextBtn:hover,.customPrevBtn:hover{
	background: rgba(255,100,0,0.5);
}
.customNextBtn{
	left:0;
}
.customPrevBtn{
	right:0;
}

.owl-carousel .item{
    background: #000;
    padding: 10px;
    cursor: pointer;
}

.underline span{
    position: relative;
    background: #1c1c1c;
}

.underline::after{
    position: absolute;
    z-index: -1;
    content: "";
    height: 2px;
    width: 100%;
    left: 0;
    top: 14px;
    background: #fff;
}

.calculation-box{
    font-size: 18px;
    line-height: 30px;
    cursor: pointer;
}

.calculation-box span:nth-child(1){
    position: relative;
    display: inline-block;
    height: 30px;
    width: 30px;
    line-height: 30px;
    text-align: center;
    background: #111;
    margin-left: 15px;
    margin-bottom: 10px;
}

.calculation-box span:nth-child(2){
    position: relative;
    display: inline-block;
    height: 30px;
    width: auto;
    margin-left: 15px;
    line-height: 30px;
}

.calculation-box span:nth-child(3){
    position: relative;
    float: right;
    height: 30px;
    width: 200px;
    line-height: 30px;
    text-align: right;
    margin: 0 15px;
}

.sub-calculation-box{
    position: relative;
    width: 100%;
    height: auto;
    background: #111;
}

.sub-calculation-box table{
    width: 100%;
}

.sub-calculation-box table thead tr th,.sub-calculation-box table tbody tr td{
    padding: 10px;
}
.sub-calculation-box table thead tr th{
    font-size: 20px;
    padding: 20px 10px;
    background: #222;
    color: #ccc;
}
.sub-calculation-box table tbody tr:nth-child(2n){
    background: #111;
}
.sub-calculation-box table tbody tr:nth-child(2n-1){
    background: #000;
}

.sub-calculation-box table tbody tr td{
    text-align: center;
    font-family: 'Roboto','Microsoft JhengHei', sans-serif;
    color: #999;
    font-size: 18px;
}
.sub-calculation-box table tbody tr td:nth-child(2){
    text-align: left;
    
}
.window-box{
    width: 1000px;
    margin: 50px auto;
    min-height: auto;
}
.product-table{
    width: 100%;
}
.product-table th:nth-child(1){
    width: 300px;
}
.product-table td,
.product-table th{
    padding: 10px 20px;
    font-size: 18px;
}
.product-table tr th:nth-last-child(1),
.product-table tr td:nth-last-child(1){
    text-align: center;
}

.td-border{
    border-bottom:1px solid #444;
}

@media (max-width: 990px){
    .web-img-title::before{
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 95%);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 95%);

    }
    .web-img-title::after{
        position: absolute;
        z-index:-1;
        left: 0;
        top: 0;
        content: "";
        background-image: url(../../images/level/MembershipLevels-top-img-2.jpg);
        width: 100%;
        height: 110%;
        background-position: top center;
        background-size: cover;
        opacity: 0.5;
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 95%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 95%, 0 100%);
    }
     
	.box-5{
		width: 50%;
		padding: 10px;
	}

    
}
@media (max-width: 768px){
	.box-5{
		width: 100%;
		padding: 10px;
	}
}