.web-img-title{
    padding: 30px 0;
}
.web-img-title::before{
    background: #000;
    opacity: 1;
	width: 100%;
    height: 110%;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 50px, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 50px, 0 100%);
}

.web-img-title::after{
	position: absolute;
	z-index:-1;
	left: 0;
	top: 0;
	content: "";
	background-image: url(../../images/aoruspoints/MemberFAQ-top-img-1.jpg);
	width: 100%;
	height: 110%;
	background-position: center center;
	background-size: cover;
	opacity: 1;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% calc(100% - 50px), 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 50px), 0 100%);
}
.medal-title-div{
    position: relative;
    width: 100%;
    min-height: 50px;
    background-image: url(../../images/bg_03.jpg);
    background-position: 0 0;
    background-size: 100%;
    opacity: 0.3;
    background-position: center; 
    border-radius: 3px;
}
.medal-title-img{
    position: absolute;
    z-index: 10;
    top: 0;
    width: 100%;
    min-height: 50px;
    background-image: url(../../images/bg_03.jpg);
    background-size: 100%;
    border-radius: 3px;
    -webkit-clip-path: polygon(0 0, 455px 0, 400px 100%, 0 100%);
    clip-path: polygon(0 0,455px 0, 400px 100%, 0 100%);
    color:#ff6400;
    padding-top: 10px;
    line-height:2.5rem;
    font-size: 2.5rem;
    text-shadow: 0.1em 0.1em #000;
}
.medal-title-info{
    position: absolute;
    width: calc(100% - 30px);
    z-index: 10;
    top: 50px;
}

.medal-title-info::after{
  content: "";
  background: url(../../images/bg_03.jpg);
  background-size: 100%;
  opacity: 0.3;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1; 
}


.qa-title{
    position: relative;
    float: left;
    width: 100%;
    /* min-height: 60px; */
    line-height: 40px;
    padding: 10px;
    font-size: 2rem;
    background: #333;
    border-radius: 3px;
    margin-bottom: 5px;
    cursor: pointer;
}

.qa-sub-div{
    position: relative;
    float: left;
    display: none;
    width: 100%;
    height: auto;
    font-size: 2rem;
    padding: 10px 0;
}

.qa-title:hover{
    background: #ff6400;
}

.qa-title-active{
    background: #ff6400;
}

.qa-title span:nth-child(1){
    position: relative;
    display: block;
    float: left;
    width: 30px;
    height: 30px;
    margin: 4px;
    text-align: center;
    line-height: 30px;
    background: #131313;
    border-radius: 3px;
}
.qa-title span:nth-child(2){
    position: relative;
    display: block;
    float: left;
    margin-left: 5px;
    width: calc(100% - 80px);
}

.qa-sub-div span:nth-child(1){
    position: relative;
    float: left;
    width: 30px;
    height: 30px;
    margin: 2px 2px 2px 16px;
    text-align: center;
    line-height: 30px;
    background: #666;
    border-radius: 3px;
}

.qa-sub-div span:nth-child(2){
    position: relative;
    display: inline-block;
    font-size: 16px;
    line-height: 26px;
    padding: 6px;
    margin-bottom: 15px;
    width: calc(100% - 50px);
    height: auto;
}


.qa-title i{
    position: absolute;
    right: 20px;
    top: 20px;
}


@media (max-width:990px){
    .web-img-title::after{
        background-image: url(../../images/aoruspoints/MemberFAQ-top-img-2.jpg);
    }
}