body{
    background: #111;
}

.point-img{
    -webkit-filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.7));
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.7));
}

.member-content-div{
    background-image: none;
}

.follow-div img{
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 50%;
    margin: 5px;
}

.badge-img{
    position: relative;
    display: inline-block;
    width: 100px;
    margin: 1px;
    background-image: url(../../images/badge/Badges-box.png);
    background-size: cover;
    background-position: center center;
    height: calc(100px * (107 /92) ); 
    z-index: 0;
    text-align: center;
    line-height: calc(100px * (107 /92) );
    -webkit-filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.7));
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.7));
}
.badge-img img {
    width: 100px;
    -webkit-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -ms-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
    -webkit-filter: brightness(0.60);
    filter: brightness(0.60);
}
.badge-img img:hover {
    -webkit-filter: brightness(1);
    filter: brightness(1);
}

.badge-img span{
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    font-size: 24px;
    color:#ccc;
    cursor: pointer;
}

input.toggle {
    position: relative;
    width: 90px;
    height: 25px;
    -webkit-appearance: initial;
    -moz-appearance: initial;
    appearance: initial;
    border-radius: 25px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    outline: none;
    cursor: pointer;
    transition: all 0.3s ease;
}
input.toggle:before, input.toggle:after {
    transition: all 0.3s ease;
}
input.toggle:before {
    content: "";
    position: absolute;
    width: 38px;
    height: 20px;
    top: 50%;
    left: calc(0% + 3px);
    transform: translate3d(0, -50%, 0);
    border-radius: 20px;
}
input.toggle:after {
    content: "CLOSE";
    position: absolute;
    top: 50%;
    left: calc(0% + 30px + 16px);
    transform: translate3d(0, -50%, 0);
    font-size: 12px;
    font-weight: 400;
}
input.toggle:checked:before {
    left: calc(100% - 42px);
    transform: translate3d(0, -50%, 0);
}
input.toggle:checked:after {
    content: "OPEN";
    left: calc(0% + 10px);
}

input[type='checkbox']:focus{
    background: #999999;
}
input.toggle__light {
    background: #999999;
    font-weight: 500;
}
input.toggle__light:before {
    background: #333333;
}
input.toggle__light:after {
    color: #333333;
}
input.toggle__light:checked:before {
    background: #ff6400;
}
input.toggle__light:checked:after {
    color: #ffffff;
}

.progress{
    border-radius: 15px;
}

.progress-bar{
    border-radius: 15px;
    border: 2px solid #333;
    line-height: 18px;
}
.page-100{
    /* background-image:url(http://clickwallpapers.com/1080p/pubg-background-On-Wallpaper-1080p-HD.jpg);
    background-position: top center; */
}

.page-100::after{
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100vh;
    width: 100%;
    background-image:url(../../images/bg2/AORUS-PC-02.jpg);
    /* background-image: url(https://www.hdwallpapersspot.com/wp-content/uploads/2018/03/Good-Gaming-Wallpapers.jpg); */
    background-position: center center;
    background-size: cover;
    opacity: 0.5;
    /* -webkit-filter: blur(5px);
       -moz-filter: blur(5px);
        -ms-filter: blur(5px);    
            filter: blur(5px);  
            filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=10, MakeShadow=false); */
}
.follow-more-div{
    position: relative;
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: #fff;
    background: #666;
    border-radius: 50%;
    margin: 5px;
    cursor: pointer;
}
.chart {
    position: relative;
    margin: 0 auto;
}

.tag {
    width:100%;
    text-align:center;
    position:absolute;
    line-height: 110px;
    color:#84C24C;
}
.tag-icon{
    position: absolute;
    top: 10px;
    width: 100%;
}

.tab-div{
    position: relative;
    width: 100%;
    border-bottom:1px solid #666;
}
.tab{
    min-height: 200px;
    /* min-height: 435px; */
}

.tab-div button{
    position: relative;
    display: inline-block;
    background: #333;
    color:#ccc;
    padding: 10px;
    cursor: pointer;
    border: 0;
}

.tab-div button:hover{
    background: #666;
    color:#111;
}

.tab-div .active{
    background: #666;
    color:#111;
}

.row-border .col-border{
    border-right: 1px solid #444;
}

.row-border .col-border:nth-last-child(1){
    border-right: 0;
}

.info-box{
    position: relative;
    float: left;
    width: 33.33%;
    border-right: 1px solid #444;
}
.info-box:nth-last-child(1){
    border-right: 0;
}
#userPorfileText textarea{
    display: none;
    background: #131313;
    margin: 0 ;
    width: 100%;
    color: #fff;
    border: 0;
    z-index: 1;
    padding: 10px;
    border-radius: 3px;
}

#userPorfileText textarea:focus{
    border-color: #ff6400 !important;
    border-style: solid !important;
    border-width: 1px !important;
    outline: 0;
    -webkit-box-shadow: inset 0px 0px 0px rgba(0,0,0,.075),0px 0px 0px rgba(255,100,0,1) !important;
    box-shadow: inset 0px 01px 0px rgba(0,0,0,.075),0px 0px 0px rgba(255,100,0,1) !important;
    background: #000 !important;
    padding-left: 10px;
}
.img-div>div {
    height: 200px;
}

.window-box{
    margin: 15px auto;
}
.follow-window table{
    width: 100%;
    margin-top: 50px;
}
.follow-window table tbody tr td{
    padding: 10px;
    text-align: left;
}
.follow-window table tbody tr td:nth-child(1){
    width: 50px;
    text-align:center;
}
.follow-window table tbody tr td:nth-child(1) img{
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #ff6400;
    height: 60px;
    width: 60px;
}

.follow-window table tbody tr td:nth-child(3){
    width: 150px;
}
.follow-window table tbody tr:nth-child(2n-1){
    background: #333;
}


@media (max-width: 1500px){
    .info-box{
        width: 50%;
        border-right: 0;
    }
    .info-box:nth-last-child(2n-1){
        border-right: 1px solid #444;
    }
    
    .row-border .col-border{
        border-right: 1px solid #444;
    }
    
    .row-border .col-border:nth-last-child(1){
        border-right: 0;
    }
    
}
@media (max-width: 1200px){
    .info-box{
        width: 50%;
        border-right: 0;
    }
    .info-box:nth-last-child(2n-1){
        border-right: 1px solid #444;
    }
    .row-border .col-border{
        border-right: 0;
    }
    .row-border .col-border:nth-child(2n){
        border-right: 0;
    }
    .row-border .col-border:nth-child(2n-1){
        border-right: 1px solid #444;
    }
}
@media (max-width: 990px){
    .info-box{
        width: 33.33%;
        border-right: 1px solid #444;
    }
    .info-box:nth-last-child(1){
        border-right: 0;
    }
    .row-border .col-border{
        border-right: 0;
    }
    .row-border .col-border:nth-child(2n){
        border-right: 0;
    }
    .row-border .col-border:nth-child(2n-1){
        border-right: 1px solid #444;
    }
}
@media (max-width: 440px){
    .info-box{
        width: 50%;
        border-right: 0;
    }
    .info-box:nth-last-child(2n-1){
        border-right: 1px solid #444;
    }
    .row-border .col-border{
        border-right: 0;
    }
    .row-border .col-border:nth-child(2n){
        border-right: 0;
    }
    .row-border .col-border:nth-child(2n-1){
        border-right: 1px solid #444;
    }
}