
.web-img-title::before{
    background: #000;
    opacity: 1;
	width: 100%;
    height: 120%;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 50px, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 50px, 0 100%);
}

.web-img-title::after{
	position: absolute;
	z-index:-1;
	left: 0;
	top: 0;
	content: "";
	background-image: url(../../images/badge/AchievementBadges-top-img-1.jpg);
	width: 100%;
	height: 120%;
	background-position: top center;
	background-size: cover;
	opacity: 1;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% calc(100% - 50px), 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 50px), 0 100%);
}


.modal-table thead tr th{
    border-bottom: 3px solid #333 !important;
}
.modal-table tbody tr td{
    border-bottom: 1px solid #333 !important;
}


.modal-table thead tr th{
    font-size: 20px;
    text-align: center;
    vertical-align: middle;
}

.modal-table thead tr th:nth-child(1){
    width: 300px;
}

.modal-table tbody tr td{
    font-size: 20px;
    padding: 10px 20px;
    text-align: left;
    vertical-align: middle;
    font-family: 'Roboto','Microsoft JhengHei', sans-serif;
    font-weight: 300;
}

.modal-table tbody tr .modal-td{
    text-align: center;
    vertical-align: top;
}

.modal-td:nth-child(2n){
    background: #666;
}

.calculation-box{
    font-size: 18px;
    line-height: 30px;
    cursor: pointer;
}

.calculation-box span:nth-child(1){
    position: relative;
    display: inline-block;
    height: 30px;
    width: 30px;
    line-height: 30px;
    text-align: center;
    background: #111;
    margin-left: 15px;
    margin-bottom: 10px;
}

.calculation-box span:nth-child(2){
    position: relative;
    display: inline-block;
    height: 30px;
    width: auto;
    margin-left: 15px;
    line-height: 30px;
}

.calculation-box span:nth-child(3){
    position: relative;
    float: right;
    height: 30px;
    width: 200px;
    line-height: 30px;
    text-align: right;
    margin: 0 15px;
}

.sub-calculation-box{
    position: relative;
    width: 100%;
    height: auto;
    background: #1c1c1c;
    padding: 15px;
}

.badge-height{
    min-height: 270px;
}

@media (max-width: 990px){
    .web-img-title::before{
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 95%);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 95%);

    }
    .web-img-title::after{
        position: absolute;
        z-index:-1;
        left: 0;
        top: 0;
        content: "";
        background-image: url(../../images/badge/AchievementBadges-top-img-2.jpg);
        width: 100%;
        height: 110%;
        background-position: top center;
        background-size: cover;
        opacity: 0.5;
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 95%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 95%, 0 100%);
    }
     
}