.web-img-title::before{
    background: #000;
    opacity: 1;
	width: 100%;
    height: 120%;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 50px, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 50px, 0 100%);
}

.web-img-title::after{
	position: absolute;
	z-index:-1;
	left: 0;
	top: 0;
	content: "";
	background-image: url(../../images/leaderboard/MemberLeaderboard-top-img-1.jpg);
	width: 100%;
	height: 120%;
	background-position: center center;
	background-size: cover;
	opacity: 1;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% calc(100% - 50px), 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 50px), 0 100%);
}
.rank-table tbody tr td {
    border-top: 2px solid #333 !important;
} 
.rank-table thead tr th{
    border-bottom: 2px solid #333 !important;
}
.rank-table thead tr th{
    font-size: 20px;
    text-align: center;
    vertical-align: middle;
    font-weight: normal;
}

.rank-table tbody tr td{
    font-size: 20px;
    padding: 20px 0;
    text-align: center;
    vertical-align: middle;
    font-family: 'Roboto','Microsoft JhengHei', sans-serif;
    font-weight: 300;
}

.rank-table tbody tr td:nth-child(4){
    font-family: 'Aldrich','Microsoft JhengHei', sans-serif;
}

.rank-table thead tr th:nth-child(2),.rank-table thead tr th:nth-child(3),.rank-table tbody tr td:nth-child(2),.rank-table tbody tr td:nth-child(3){
    text-align: left;
}

.rank-table thead tr th:nth-child(4),.rank-table tbody tr td:nth-child(4){
    text-align: right;
}

/* .rank-table tbody tr td:nth-child(3),.rank-table thead tr th:nth-child(3){
    text-align: left
} */
.rank-table tbody tr td:nth-child(3) a{
    color: #ff6400;
    text-decoration: none;
}
.rank-table tbody tr td:nth-child(3) img{
    object-fit: cover;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border:1px solid #ff6400;
    margin-right: 10px;
}
.rank-table tbody tr td:nth-child(1){
    font-family: 'Aldrich','Microsoft JhengHei', sans-serif;
    font-weight: 700;
    font-size: 25px;
}
.rank-table tbody tr:nth-child(1) td:nth-child(1) div{
    position: relative;
    margin: 0 auto;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    color:#000;
    background: #ffbe00; 
    background: -moz-linear-gradient(-45deg, #c99b14 0%, #b78817 25%, #fdf193 50%, #c99b14 70%, #875017 100%); 
    background: -webkit-linear-gradient(-45deg, #c99b14 0%,#b78817 25%,#fdf193 50%,#c99b14 70%,#875017 100%); 
    background: linear-gradient(135deg, #c99b14 0%,#b78817 25%,#fdf193 50%,#c99b14 70%,#875017 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c99b14', endColorstr='#875017',GradientType=1 );
}

.rank-table tbody tr:nth-child(2) td:nth-child(1) div{
    position: relative;
    margin: 0 auto;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    color:#000;
    background: #cccccc; 
    background: -moz-linear-gradient(-45deg, #cccccc 0%, #bababa 25%, #eaeaea 50%, #bababa 70%, #9b9b9b 100%); 
    background: -webkit-linear-gradient(-45deg, #cccccc 0%,#bababa 25%,#eaeaea 50%,#bababa 70%,#9b9b9b 100%); 
    background: linear-gradient(135deg, #cccccc 0%,#bababa 25%,#eaeaea 50%,#bababa 70%,#9b9b9b 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cccccc', endColorstr='#9b9b9b',GradientType=1 );
}

.rank-table tbody tr:nth-child(3) td:nth-child(1) div{
    position: relative;
    margin: 0 auto;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    color:#000;
    background: #ff6400; 
    background: -moz-linear-gradient(-45deg, #f7be91 0%, #ee7a2d 25%, #ff6400 50%, #ee7a2d 70%, #cf4f00 100%); 
    background: -webkit-linear-gradient(-45deg, #f7be91 0%,#ee7a2d 25%,#ff6400 50%,#ee7a2d 70%,#cf4f00 100%); 
    background: linear-gradient(135deg, #f7be91 0%,#ee7a2d 25%,#ff6400 50%,#ee7a2d 70%,#cf4f00 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7be91', endColorstr='#cf4f00',GradientType=1 );
}

.bg-footer{
	padding-top: 60px; 
	padding-bottom: 60px;
}

.bg-footer::before{
	position: absolute;
	z-index:-1;
	left: 0;
	top: -12%;
	content: "";
	background:#000;
	width: 100%;
    height: 120%;
    -webkit-clip-path: polygon(0 0, 100% 15%, 100% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 15%, 100% 100%, 0% 100%);
}

.bg-footer::after{
	position: absolute;
	z-index:-1;
	left: 0;
	top: -12%;
	content: "";
	background-image: url(../../images/leaderboard/MemberLeaderboard-bg.jpg);
	width: 100%;
	height: 120%;
	background-position: center center;
	background-size: cover;
    opacity: 0.4;
    -webkit-clip-path: polygon(0 0, 100% 15%, 100% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 15%, 100% 100%, 0% 100%);
}
@media (max-width:990px){
    
    .web-img-title::before{
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 95%);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 95%);

    }
    .web-img-title::after{
        position: absolute;
        z-index:-1;
        left: 0;
        top: 0;
        content: "";
        background-image: url(../../images/leaderboard/1540808170809.jpg);
        width: 100%;
        height: 110%;
        background-position: top center;
        background-size: cover;
        opacity: 0.5;
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 95%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 95%, 0 100%);
    }
}