.content-page{
    padding: 20px;
    height: calc(100vh - 60px);
    overflow: auto;
    .content-title{
        font-size: 45px;
        font-weight: 700;
    }
    .content-body{
        font-size: 16px;
        line-height: 1.5;
    }
}



.table-div-top{
    padding: 15px;
    background-color: var(--bs-white);
    min-height: 30px;
    border-radius: 5px 5px 0 0;
    border: 1px solid var(--bs-light);
    display: flex;
    justify-content: space-between;
    align-items: center;
    >div{
        display: flex;
        justify-content: space-between;
        align-items: center;
        >.material-icons-outlined{
            color: var(--bs-primary);
            font-size: 36px;
        }
        >span{
            margin-right: 10px;
        }
    }
}

.table-div-content{
    padding: 15px;
    background-color: var(--bs-white);
    border-radius: 0 0 5px 5px;
    border: 1px solid var(--bs-light);
    table td>img{
        width: 100%;
        aspect-ratio: 1/1;
        border-radius: 50%;
        object-fit: cover;
        object-position: center center;
        background: var(--bs-success);
    }
}

.card-list{
    display: flex;
    flex-wrap: wrap;
    >.card{
        width: calc(25% - 20px);
        margin: 10px;
        border: 1px solid var(--bs-light);
        border-radius: 5px;
        background: var(--bs-white);
        >div{
            margin-bottom: 10px;
            padding: 15px;
            img{
            width: 100%;
            border-radius: 5px;
            }
            .name{
            font-size: 16px;
            font-weight: bold;
            }
            .address{
            font-size: 16px;
            }
        }

    }
}

@media (max-width: 1200px){
    .card-list{
        >.card{
            width: calc(33.33% - 20px);
        }
    }
}


@media (max-width: 900px){
    .content-page{
        padding: 10px;
        .content-title{
            font-size: 30px;
        }
        .content-body{
            font-size: 12px;
            line-height: 1.5;
        }
    }
    .card-list{
        >.card{
            width: calc(50% - 20px);
        }
    }
}

@media (max-width: 500px){
    .content-page{
        padding: 10px;
        .content-title{
            font-size: 30px;
        }
        .content-body{
            font-size: 12px;
            line-height: 1.5;
        }
    }
    .card-list{
        >.card{
            width: calc(100% - 20px);
        }
    }
}