.content-page{
    padding: 20px 20px 60px 20px;
    height: calc(100vh - 60px);
    overflow: auto;
    .content-title{
        font-size: 45px;
        font-weight: 700;
    }
    .content-body{
        font-size: 16px;
        line-height: 1.5;
    }
}



.table-div-top{
    padding: 15px;
    background-color: var(--bs-white);
    min-height: 30px;
    border-radius: 5px 5px 0 0;
    border: 1px solid var(--bs-light);
    display: flex;
    justify-content: space-between;
    align-items: center;
    >div{
        display: flex;
        justify-content: space-between;
        align-items: center;
        >.material-icons-outlined{
            color: var(--bs-primary);
            font-size: 36px;
        }
        >span{
            margin-right: 10px;
        }
    }
}

.table-div-content{
    padding: 15px;
    background-color: var(--bs-white);
    border-radius: 0 0 5px 5px;
    border: 1px solid var(--bs-light);
    table td>img{
        width: 100%;
        aspect-ratio: 1/1;
        border-radius: 50%;
        object-fit: cover;
        object-position: center center;
        background: var(--bs-success);
    }
}



.card-list{
    display: flex;
    flex-wrap: wrap;
    margin: -10px;
    >.card{
        width: calc(25% - 20px);
        margin: 10px;
        border: 1px solid var(--bs-light);
        border-radius: 5px;
        background: var(--bs-white);
        >div{
            padding: 15px;
        }
    }
}

hr{
    margin: 5px 0;
    border: 0;
    border-top: 1px solid var(--bs-light);
}

.view-info-btn{
    position: relative;
    margin: 10px 0 15px 0;
    min-height: 40px;
    display: flex;
    justify-content: center !important;
    align-items: center;
    cursor: pointer;
    
    &::before {
        border-radius: inherit;
        box-shadow: none;
        content: "";
        height: 100%;
        position: absolute;
        transition: all .2s ease-in-out;
        -webkit-backdrop-filter: blur(.5rem);
        backdrop-filter: blur(.5rem);
        left: 15px;
        right:15px;
        top: 8px;
        will-change: backdrop-filter;
        z-index: 0;
        background: #ced4da;
        filter: opacity(.7) brightness(1) contrast(1.1);
        border-radius: 5px;
    }
    &::after {
        border-radius: inherit;
        box-shadow: none;
        content: "";
        height: 100%;
        position: absolute;
        transition: all .2s ease-in-out;
        -webkit-backdrop-filter: blur(.5rem);
        backdrop-filter: blur(.5rem);
        left: 30px;
        right: 30px;
        top: 16px;
        will-change: backdrop-filter;
        z-index: 1;
        background: #ced4da;
        filter: opacity(.7) brightness(1) contrast(1.1);
        border-radius: 5px;
    }

    >div{
        position: absolute;
        z-index: 2;
        background: var(--bs-dark);
        border-radius: 5px;
        width: 100%;
        color: var(--bs-white);
        font-size: 16px;
        font-weight: 700;
        padding: 6px 8px;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.3s;
        top: 0;
    }
    &:hover{
        &::before {
            top: 6px;
            left: 7.5px;
            right: 7.5px;
        }
        &::after {
            top: 10px;
            left: 15px;
            right: 15px;
        }
        >div{
            top: 3px;
            opacity: .8;
        }

    }
}


.info-page{
    display: flex;
    justify-content: space-between;
    margin: -15px;
    >div{

        // min-height: 300px;
        background: var(--bs-white);
        border-radius: 5px;
        border: 1px solid var(--bs-light);
        margin: 10px;
        &:nth-child(1){
        width: 300px;
        }
        &:nth-child(2){
        flex-grow: 1;
        width: calc(100% - 300px);
        }

        .vue3-easy-data-table div.vue3-easy-data-table__main {
            min-height: calc(100dvh - 250px);
        }

        table td>img{
            width: 100%;
            aspect-ratio: 1/1;
            border-radius: 50%;
            object-fit: cover;
            object-position: center center;
            background: var(--bs-success);
        }
    }
}


.info-setting{
    padding: 20px;
    >div{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        >.title{
            font-size: 16px;
            font-weight: 700;
            color: var(--bs-dark);
            margin-bottom: 10px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            >.material-icons-outlined{
            font-size: 32px;
            margin-right: 10px;
            color: var(--bs-primary);
            }
        }
        >.content{
            width: 100%;
            height: 100%;
            overflow: auto;
        }
        >.footer{
            width: 100%;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            margin-top: 20px;
        }
    }
}

.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.input-div{
    position: relative;
    width: 100%;
    padding: 5px;
    &.file{
        
        input{
            display: none;
        }
        label{
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: start;
            align-items: center;
            border: 1px solid var(--bs-gray-200);
            border-radius: 5px;
            cursor: pointer;
            box-shadow: inset 0 0 5px var(--bs-gray-200);
            >span{
            font-size: 14px;
            font-weight: 700;
            color: var(--bs-dark);
            background: var(--bs-gray-200);
            margin-right: 10px;
            padding: 10px;
            &:hover{
                background: var(--bs-gray-300);
            }
            }
            >div{
            font-size: 14px;
            font-weight: 700;
            color: var(--bs-gray-dark);
            background: var(--bs-gray-100);
            }
        }
    }

    &.text,
    &.select,
    &.textarea{
        >label{
            position: absolute;
            font-size: 12px;
            left: 18px;
            top: 10px;
            color: var(--bs-gray);
            transition: 0.1s all;
        }
        >input,
        >select,
        >textarea{
            padding: 20px 14px 5px 14px;
            font-size: 14px;
            color: var(--bs-gray);
        }
    }
    
}


@media (max-width: 1400px) {
    .card-list{
        >.card{
            width: calc(33.33% - 20px);
            >div{
                padding: 15px;
            }
        }
    }
}

@media (max-width: 1200px) {
    .card-list{
        >.card{
            width: calc(50% - 20px);
            >div{
                padding: 15px;
            }
        }
    }

}
@media (max-width: 1000px) {
    .info-page{
        display: block;
        width: 100%;
        margin: -10px;
        padding: 0;
        >div{
            &:nth-child(1){
                width: 100%;
                height: auto;
            }
            &:nth-child(2){
                width: 100%;
            }
        }
    }
}
@media (max-width: 600px) {
    .content-page{
        padding: 10px 10px 60px 10px;
        height: calc(100vh - 60px);
    }

    .card-list{
        >.card{
            width: calc(100% - 20px);
            >div{
                padding: 10px;
            }
        }
    }

    .info-setting{
        // padding: 10px;
    }

        
    .flex{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
    }

    
}