:root {
  --theme-aorus: #ff6400;
  --theme-aorus-dark: #131313;

}
html,body{
  margin: 0;
  padding: 0;
  background: var(--theme-aorus-dark);
  font-family: 'AORUS-Font','Titillium', sans-serif;
}


