@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;700&display=swap');

:root {
  --theme-color-1: #FFA800;
  --theme-color-1-01: rgba(255, 168, 0, 0.1);
  --theme-color-1-02: rgba(255, 168, 0, 0.2);
  --theme-color-1-03: rgba(255, 168, 0, 0.3);
  --theme-color-1-04: rgba(255, 168, 0, 0.4);
  --theme-color-1-05: rgba(255, 168, 0, 0.5);
  --theme-color-1-06: rgba(255, 168, 0, 0.6);
  --theme-color-1-07: rgba(255, 168, 0, 0.7);
  --theme-color-1-08: rgba(255, 168, 0, 0.8);
  --theme-color-1-09: rgba(255, 168, 0, 0.9);

  --theme-color-2: #6079BA;
  --theme-color-2-01: rgba(96, 121, 186, 0.1);
  --theme-color-2-02: rgba(96, 121, 186, 0.2);
  --theme-color-2-03: rgba(96, 121, 186, 0.3);
  --theme-color-2-04: rgba(96, 121, 186, 0.4);
  --theme-color-2-05: rgba(96, 121, 186, 0.5);
  --theme-color-2-06: rgba(96, 121, 186, 0.6);
  --theme-color-2-07: rgba(96, 121, 186, 0.7);
  --theme-color-2-08: rgba(96, 121, 186, 0.8);
  --theme-color-2-09: rgba(96, 121, 186, 0.9);

  --theme-color-3: #FF4D4D;
  --theme-color-3-01: rgba(255, 77, 77, 0.1);
  --theme-color-3-02: rgba(255, 77, 77, 0.2);
  --theme-color-3-03: rgba(255, 77, 77, 0.3);
  --theme-color-3-04: rgba(255, 77, 77, 0.4);
  --theme-color-3-05: rgba(255, 77, 77, 0.5);
  --theme-color-3-06: rgba(255, 77, 77, 0.6);
  --theme-color-3-07: rgba(255, 77, 77, 0.7);
  --theme-color-3-08: rgba(255, 77, 77, 0.8);
  --theme-color-3-09: rgba(255, 77, 77, 0.9);

  --theme-color-4: #57ac2f;
  --theme-color-4-01: rgba(87, 172, 47, 0.1);
  --theme-color-4-02: rgba(87, 172, 47, 0.2);
  --theme-color-4-03: rgba(87, 172, 47, 0.3);
  --theme-color-4-04: rgba(87, 172, 47, 0.4);
  --theme-color-4-05: rgba(87, 172, 47, 0.5);
  --theme-color-4-06: rgba(87, 172, 47, 0.6);
  --theme-color-4-07: rgba(87, 172, 47, 0.7);
  --theme-color-4-08: rgba(87, 172, 47, 0.8);
  --theme-color-4-09: rgba(87, 172, 47, 0.9);

  --text-color: #ffffff;
}

html, body{
  padding: 0;
  margin: 0;
  background: #F1F3F2;
  font-family: 'Titillium Web','Microsoft JhengHei', sans-serif;
  overflow-x: hidden;
}

.container{
  position: relative;
  margin: 0 auto;
  width: 100%;
  max-width: 1300px;
}


.container-fluid{
  position: relative;
  margin: 0 auto;
  width: 100%;
}

.material-icons,
.material-icons-outlined{
  vertical-align: middle;
  font-size: 20px;
}

a{
  text-decoration: none;
  color: inherit;
}
a:hover{
  color: var(--theme-color-1);
}

.text-color1{
  color: var(--theme-color-1);
}
.text-color2{
  color: var(--theme-color-2);
}
.text-color3{
  color: var(--theme-color-3);
}

.btn{
  position: relative;
  display: inline-block;
  padding: 2px 2px;
  border-radius: 4px;
  transition: all 0.3s ease;  
  cursor: pointer;
}

.btn-color-1{
  border: 1px solid var(--theme-color-1-05);
  color:  var(--theme-color-1-05);
}
.btn-color-1:hover{
  background: var(--theme-color-1);
  border: 1px solid var(--theme-color-1);
  color: var(--text-color);
}

.btn-color-2{
  border: 1px solid var(--theme-color-2-05);
  color:  var(--theme-color-2-05);
}
.btn-color-2:hover{
  background: var(--theme-color-2);
  border: 1px solid var(--theme-color-2);
  color: var(--text-color);
}

.btn-color-3{
  border: 1px solid var(--theme-color-3-05);
  color:  var(--theme-color-3-05);
}
.btn-color-3:hover{
  background: var(--theme-color-3);
  border: 1px solid var(--theme-color-3);
  color: var(--text-color);
}

.btn-color-4{
  border: 1px solid var(--theme-color-4-05);
  color:  var(--theme-color-4-05);
}
.btn-color-4:hover{
  background: var(--theme-color-4);
  border: 1px solid var(--theme-color-4);
  color: var(--text-color);
}

.btn-color-1-full{
  background: var(--theme-color-1);
  border: 1px solid var(--theme-color-1);
  color: var(--text-color);
}
.btn-color-1-full:hover{
  background: var(--theme-color-1-05);
  border: 1px solid var(--theme-color-1-05);
  color: var(--text-color);
}

.btn-color-2-full{
  background: var(--theme-color-2);
  border: 1px solid var(--theme-color-2);
  color: var(--text-color);
}
.btn-color-2-full:hover{
  background: var(--theme-color-2-05);
  border: 1px solid var(--theme-color-2-05);
  color: var(--text-color);
}

.btn-color-3-full{
  background: var(--theme-color-3);
  border: 1px solid var(--theme-color-3);
  color: var(--text-color);
}
.btn-color-3-full:hover{
  background: var(--theme-color-3-05);
  border: 1px solid var(--theme-color-3-05);
  color: var(--text-color);
}

.btn-color-4-full{
  background: var(--theme-color-4);
  border: 1px solid var(--theme-color-4);
  color: var(--text-color);
}
.btn-color-4-full:hover{
  background: var(--theme-color-4-05);
  border: 1px solid var(--theme-color-4-05);
  color: var(--text-color);
}

.btn:disabled{
  opacity: 0.5;
  cursor: not-allowed;
}

.btn-lg{
  padding: 5px 10px;
  font-size: 16px;
}

.mr-1{
  margin-right: 5px;
}
.mr-2{
  margin-right: 10px;
}
.mr-3{
  margin-right: 15px;
}

.ml-1{
  margin-left: 5px;
}
.ml-2{
  margin-left: 10px;
}
.ml-3{
  margin-left: 15px;
}
.text-left{
  text-align: left;
}
.text-right{
  text-align: right;
}
.text-center{
  text-align: center;
}
.border-bottom{
  border-bottom: 1px solid #ccc;
}
.border-top{
  border-top: 1px solid #ccc;
}
.border-left{
  border-left: 1px solid #ccc;
}
.border-right{
  border-right: 1px solid #ccc;
}
.pb-1{
  padding-bottom: 5px;
}
.pb-2{
  padding-bottom: 10px;
}
.pb-3{
  padding-bottom: 15px;
}
.pt-1{
  padding-top: 5px;
}
.pt-2{
  padding-top: 10px;
}
.pt-3{
  padding-top: 15px;
}
.pl-1{
  padding-left: 5px;
}
.pl-2{
  padding-left: 10px;
}
.pl-3{
  padding-left: 15px;
}
.pr-1{
  padding-right: 5px;
}
.pr-2{
  padding-right: 10px;
}
.pr-3{
  padding-right: 15px;
}


.input-div{
  display: flex;
  margin-bottom: 10px;
}
.input-div:nth-last-child(1){
  margin-bottom: 0;
}

.input-div label{
  width: 120px;
  color: var(--theme-color-2);
}

input[type="text"],
input[type="file"],
input[type="number"],
textarea, 
select{
  position: relative;
  display: block;
  width: 100%;
  padding: 5px 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
}

.input-div>input[type="text"],
.input-div>input[type="file"],
.input-div>input[type="number"],
.input-div>textarea,
.input-div>select{
  width: calc(100% - 120px);
}

.input-div>input[type="checkbox"]{
  width: auto;
  padding: 0;
  border: none;
  background: none;
}


.input-div>#editorjs{
  position: relative;
  display: block;
  width: 100%;
  padding: 5px 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  width: calc(100% - 120px);
}

.overflow-auto{
  overflow: auto;
}

.range-div{
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.range-div>input{
  text-align: center;
  width: auto;
}
.range-slider{
  margin: 10px 0;
  background: #ccc;
}

.range-slider[data-disabled] {
    /* CSS for disabled range slider element */
}
.range-slider .range-slider__range {
    background: var(--theme-color-1);
    /* CSS for range */
}
.range-slider .range-slider__range[data-active] {
    /* CSS for active (actively being dragged) range */
}
.range-slider .range-slider__thumb {
    /* CSS for thumbs */
    background: var(--theme-color-2);
}
.range-slider .range-slider__thumb[data-lower] {
    /* CSS for lower thumb */
}
.range-slider .range-slider__thumb[data-upper] {
    /* CSS for upper thumb */
}
.range-slider .range-slider__thumb[data-active] {
    /* CSS for active (actively being dragged) thumbs */
}
.range-slider .range-slider__thumb[data-disabled] {
    /* CSS for disabled thumbs */
}

@media (max-width: 768px) {
  
  .input-div{
    position: relative;
    width: 100%;
    display: block;
    margin-bottom: 10px;
  }

  .input-div label{
    display: block;
    width: 100%;
  }
  .input-div>input[type="text"],
  .input-div>input[type="file"],
  .input-div>input[type="number"],
  .input-div>textarea,
  .input-div>select{
    display: block;
    width: calc(100% - 20px);
  }
  .input-div>#editorjs{
    width: calc(100% - 20px);
  }
}