.loading-cover{
    position: fixed;
    z-index: 99999;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: #141d1f;
    line-height: 100vh;
    text-align: center;
    transition: 0.3s all;
}
.loading-cover.active{
    opacity: 0;
}

.loading-cover>img{
    position: absolute;
    top: calc(40% - 192px/2);
    width: 192px;
    height: 192px;
    left: calc(50% - 192px/2);
}

.loading-cover>.loading{
    position: absolute;
    width: 150px;
    height: 30px;
    top: calc(55% - 0px);
    left: calc(50% - 75px);
}

.loading-cover>.loading>div{
    position: absolute;
    top: 20px;
    width: 10px;
    height: 10px;
    background: #2ee7d6;
    border-radius: 50%;
}
.loading-cover>.loading>div:nth-child(1){
    left: 0;
    animation-name: loadingShowHide;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-delay: 0;
}
.loading-cover>.loading>div:nth-child(2){
    left: 35px;
    animation-name: loadingShowHide;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-delay: 0.25s;
}
.loading-cover>.loading>div:nth-child(3){
    left: 70px;
    animation-name: loadingShowHide;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-delay: 0.5s;
}
.loading-cover>.loading>div:nth-child(4){
    left: 105px;
    animation-name: loadingShowHide;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-delay: 0.75s;
}
.loading-cover>.loading>div:nth-child(5){
    left: 140px;
    animation-name: loadingShowHide;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-delay: 1s;
}

@keyframes loadingShowHide {
    0%{
        opacity: 0.2;
        transform: scale(1);
    }
    50%{
        opacity: 1;
        transform: scale(1.5);
    }   
    100%{
        opacity: 0.2;
        transform: scale(1);
    }
}
