:root{
  --color-black: #111;
  --color-gamebg: #50a7e8;
}

html,body{
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  height: 100vh;
  background: var(--color-black);
}

canvas{
  align-self: center;
}


.game-input-div>input{
  visibility: hidden;
  position: absolute;
  width: calc(calc(calc(100vh * 32) / 48) * 0.5 - 30px) ;
  height: 50px;
  font-size: 18px;
  color: #fff;
  left: 50%;
  top: calc(100vh / 5 * 3);
  transform: translateX(-50%) translateY(-50%);
  border: 0;
  background: rgba(0,0,0,0.3);
  padding: 0 15px;
  text-align: center;
}

.game-input-div>input:focus,
.game-input-div>input:focus-visible {
  outline: -webkit-focus-ring-color auto 0px;
}